.ConstH {
    background: url("/src/Images/MainBg.jpg");
}

.InvisibleMenu {
    display: none;
    position: absolute;
    left: -100%;

}
.Profil{
    position: relative;
    width: 100px;
}

.Profil:hover>div {
    display: block;
}

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    font-size: large;
}

.Links {
    list-style: none;
    align-items: center;
}

.Links li, .Links a{
    display: inline-block;
    margin: 0px 20px;
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Links li:hover, .Links a:hover{
    display: inline-block;
    margin: 0px 20px;
    background: green;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.ConstH h1 {
    text-align: center;
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}